<div id="box">
    <div class="grid grid-6 grid-gap-10">
        <div class="grid-col-4" style="height: 300px;">
            <div class="grid grid-3 grid-gap-10">
                <div class="grid-col-1 shadow" style="background:#f0f;height: 150px;border-radius: 15px;text-align: center">1</div>
                <div class="grid-col-1 shadow" style="background:#f0f;height: 150px;border-radius: 15px;text-align: center">2</div>
                <div class="grid-col-1 shadow" style="background:#f0f;height: 150px;border-radius: 15px;text-align: center">3</div>
            </div>
        </div>
        <div class="grid-col-2" style="background:#fc3;height:300px;">
            <h1> ini bayar</h1>
        </div>
    </div>
</div>        