<div id="box">
    <div class="grid grid-6 grid-gap-10">
        <div class="grid-col-4" style="height: 500px;">
            <div class="grid grid-3 grid-gap-10">
                <% for(var i=0;i<8;i++){%>
                    <div class="grid-col-1 shadow"
                        style="background:#fff;border-radius: 15px;text-align: center;cursor: pointer;">
                        <div class="m-auto">
                            <img class="wp-100"
                                src="https://inews-prd-a-images.s3.eu-west-2.amazonaws.com/content/uploads/2019/07/halloumi-e1562498457628.png"
                                alt=menu1>
                            <h2 class="mt-0  mb-10">Paket 1</h2>
                            <h2 class="mt-5 mb-5" style="color: #fc3">Rp. 5000</h1>
                        </div>

                    </div>
                    <% }%>
            </div>
        </div>
        <div class="grid-col-2 shadow" style="background:#fff;border-radius: 15px;">
            <div style="position: relative;" class="h-500">
                <h2 class="text-center pb-10" style="border-bottom: 1px solid #e8e5e5">Pembayaran</h2>
                <div class="grid grid-1">
                    <% for(let i=0; i < 3; i++){%>
                        <div class="grid-col-1 pt-10 pb-10" style="border-bottom: 1px solid #e8e5e5">
                            <div class="grid grid-7">
                                <div class="grid-col-2">
                                    <img class="wp-100"
                                        src="https://inews-prd-a-images.s3.eu-west-2.amazonaws.com/content/uploads/2019/07/halloumi-e1562498457628.png"
                                        alt="" srcset="">
                                </div>
                                <div class="grid-col-3">
                                    <h2 class="m-0">Burger <%= i+1 %>
                                    </h2>
                                    <p class="m-0" style="color: #b6b4b4">$1000</p>
                                </div>
                                <div class="grid-col-2">
                                    <div class="grid grid-3 mt-10 mb-10">
                                        <div class="grid-col-1">
                                            <button><i class="fa fa-minus-square"></i></button>
                                        </div>
                                        <div class="grid-col-1">
                                            <input type="text" class="w-20 text-center" value="0">
                                        </div>
                                        <div class="grid-col-1">
                                            <button><i class="fa fa-plus-square"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%}%>
                </div>
                <button class="text-center wp-100 pt-10 pb-10 pl-20 pr-20 m-10"
                    style="position:absolute;bottom:0px">Bayar</button>
            </div>
        </div>
    </div>
</div>