<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
    <div id="menu">
        <div class="logo">
            <h1>LOGO</h1>
        </div>
        <div class="box-menu active">
            <i class="fa fa-tachometer-alt"></i>
            <p>Dashboard</p>
            <div class="clear"></div>
        </div>
        <a href="#" class="link">
            <div class="box-menu">
                <i class="fa fa-hamburger"></i>
                <p>Foods</p>
                <div class="clear"></div>
            </div>
        </a>
        <a href="#" class="link">
            <div class="box-menu">
                <i class="fa fa-cocktail"></i>
                <p>Drinks</p>
                <div class="clear"></div>
            </div>
        </a>

        <p class="sub-menu">Others</p>

        <a href="#" class="link">
            <div class="box-menu">
                <i class="fa fa-bell"></i>
                <p>Notification</p>
                <div class="clear"></div>
            </div>
        </a>
        <a href="#" class="link">
            <div class="box-menu">
                <i class="fa fa-envelope-open-text"></i>
                <p>Support</p>
                <div class="clear"></div>
            </div>
        </a>

    </div>
    <div id="content">
        <div class="box-content">
            Content
        </div>
    </div>
</body>

</html>